nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100vw;
  /*height: 56px;*/
  overflow-x: hidden;
  /*overflow-y: hidden;*/
  background-color: #ccc;
  text-align: left;
}

nav div.item {
  float: left;
}

nav div.item > a, nav div.item div.dropdownbutton {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 18px 19px;
  text-decoration: none;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

nav div.item > a:hover, nav div.item div.dropdownbutton:hover {
  background-color: #aaa;
  cursor: pointer;
}

nav div.item a:hover, nav div.item .dropdown:hover .dropdownbutton {
  background-color: #aaa;
}

nav div.item .dropdowncontent {
  display: none;
  position: absolute;
  background-color: #ccc;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
  z-index: 1;
}

nav div.item .dropdowncontent a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

nav div.item .dropdowncontent a:hover {
  background-color: #aaa;
  }

nav div.item .dropdown:hover .dropdowncontent {
  display: block;
}