<nav>
  <div class="item"><a href="./" style="padding: 0px 5px;">
    <img class="lazy" src="" data-src="img/aviaworld.png" style="width: 137px; height: 50px; display: inline-block;;">
  </a></div class="item">
  <div class="item"><a href="news.html">News</a></div class="item">
  <div class="item"><a href="about.html">About</a></div class="item">
  <div class="item"><div class="dropdown">
    <div class="dropdownbutton">Info</div>
    <div class="dropdowncontent">
      <a href="rules.html">Rules</a>
      <a href="ranks.html">Ranks</a>
      <a href="stafflist.html">Staff List</a>
      <a href="gettingstarted.html">Getting Started</a>
      <a href="faq.html">FAQ</a>
    </div>
  </div></div class="item">
  <div class="item"><a href="">Wiki</a></div class="item">
</nav>
